<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Person Re-identification System</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/feather/feather.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/select.dataTables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
  <style>
    .slider-container {
      display: flex;
      align-items: center;
      gap: 10px; /* Adjust the gap as needed */
    }

    .slider-container label {
      margin: 0;
    }

    .slider-container input {
      flex-grow: 1;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-start">
        Decentralized Text-based Person Re-identification Framework (Version {{app_version}})
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/search-from-cameras">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Search From Cameras</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/get-camera-live-view">
              <i class="icon-camera menu-icon"></i>
              <span class="menu-title">Get camera live view</span>
            </a>
          </li>

          <li class="nav-item" id="nav-get-camera-live-view">
            <a class="nav-link" href="/logout">
              <i class="icon-lock menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body d-flex justify-content-center" style="background-color: black;">
                  <!-- Image at the top of the card -->
                  <img src="{{ url_for('video_feed') }}" alt="Live Video Feed" class="img-fluid">
                </div>
                
                <!-- Text field and submit button at the bottom -->
                <div class="card-body" id="search_progress">
                  <h5>&nbsp;</h5>
                </div>

                <!-- Text field and submit button at the bottom -->
                <div class="card-body">
                  <form id="camera_name_form">
                    <div class="form-group">
                      <label for="camera_name">Select the camera you would like to get live view from</label>
                      <select class="form-select form-select-sm w-100" id="camera_name">
                        <option value="none">-- Select Camera Name --</option>
                        <option value="cameraone">Camera One</option>
                        <option value="cameratwo">Camera Two</option</option>
                        <option value="camerathree">Camera Three</option>
                        <option value="camerafour">Camera Four</option>
                        <option value="camerafive">Camera Five</option>
                        <option value="deeplearning">Deep Learning</option>
                      </select>
                    </div>
                    <button type="button" id="live_feed_button" class="btn btn-primary">Stream camera live feed</button>
                    <button type="button" id="cancel_live_feed_button" class="btn btn-danger">Cancel camera live feed</button>
                </div>
              </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Camera Operation Status (filtered by IP Address)</h4>
                  <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                      <thead>
                        <tr>
                          <th>Camera Node Name</th>
                          <th>IP Address</th>
                          <th>Last Seen</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Content will be filled by JavaScript -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-left text-sm-left d-block d-sm-inline-block">Copyright © {{current_year}} &#183 
              <a href="https://nes.aau.at/" target="_blank">Institute of Networked and Embedded Systems (NES)</a> &#183 
              <a href="https://aau.at/" target="_blank">University of Klagenfurt, Austria</a> &#183
              
            </br>Acknowledgement: The free web template (HTML, CSS, JS) was downloaded from <a href="https://aau.at/" target="_blank">https://www.bootstrapdash.com</a>.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Application Version {{app_version}} </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- File submission JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.select.min.js') }}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Chart.roundedBarCharts.js') }}"></script>
  <!-- End custom js for this page-->

  <script>
    $(document).ready(function() {
      var taskId = null; // This will store the task ID

      // Initially hide the cancel button and enable the text field
      $('#cancelButton').hide();

      function updateCameraStatus() {
        $.ajax({
          url: '/get-camera-status',
          type: 'GET',
          success: function(response) {
            if (response.message && response.data.length === 0) {
              $('tbody').html('<tr><td colspan="4" class="text-center">No camera data available</td></tr>');
            } else {
              var tableContent = '';
              response.forEach(function(camera) {
                var lastSeenFormatted = camera.last_seen;  // Convert Unix timestamp to relative time
                tableContent += '<tr>' +
                  '<td>' + camera.camera_name + '</td>' +
                  '<td>' + camera.ip_address + '</td>' +
                  '<td>' + lastSeenFormatted + '</td>' +
                  '<td><label class="badge badge-' + camera.badge + '">' + camera.status + '</label></td>' +
                  '</tr>';
              });
              $('tbody').html(tableContent);
            }
          },
          error: function(error) {
            console.error('Error fetching camera status:', error);
            $('tbody').html('<tr><td colspan="4" class="text-center">Error loading data</td></tr>');
          }
        });
      }

      function resetUI() {
        // Hide cancel button, show search button, enable text field, and hide progress
        $('#live_feed_button').show();
        $('#cancel_live_feed_button').hide();
        $('#camera_name').prop('disabled', false);
        $('#search_progress').hide();
      }

      updateCameraStatus(); // keep the loading smooth here
      setInterval(updateCameraStatus, 1000); // Refresh every 1000 milliseconds or 1 second
      resetUI()

      $('#live_feed_button').on('click', function(event) {
        event.preventDefault();
        var camera_name = $('#camera_name').val()

        if (camera_name=='none')
        {
          alert('Please select a camera name')
          return false;
        }

        $('#camera_name').prop('disabled', true);
        $('#live_feed_button').hide();
        $('#cancel_live_feed_button').show();
        $('#search_progress').html("<label class='badge badge-info'>Sending command to camera. Please wait...</label>").show();

        $.ajax({
          url: '/stream-live-camera-feed',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ camera_name: camera_name}),
          dataType: 'json',
          success: function(data) {
            console.log(data);
            $('#search_progress').html("<label class='badge badge-warning'>Currently streaming from "+camera_name+"</label>").show();
          },
          error: function(error) {
            console.error('Error:', error);
            // Reset the UI if there is an error
            resetUI();
          }
        });
      });

      // I am really exhausted. I will use this cancel function for now.
      // TODO: I will clean this up in the future ~~ if ever
      $('#cancel_live_feed_button').on('click', function() {
        $.ajax({
          url: '/stop-person-search',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ task_id: taskId }),
          success: function(response) {
            console.log(response.message);
            // Reset the UI after cancellation
            resetUI();
          },
          error: function(error) {
            console.error('Error:', error);
            // Reset the UI if there is an error
            resetUI();
          }
        });
      });
    });
  </script>
</body>

</html>
